* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width: 100%;
    height: 100%;
}

.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 250, 250, 250, 0.5 ) 
                url('../img/spinner.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .spinner {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #e5e9e8;
    color: #454545;
    box-shadow: inset 0 1px #9daca9, 0 -1px #d6dcdb;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.middle {
    vertical-align: middle;
}

.vCenter {
    display: inline-block;
    position: relative;
    top: 50%;
    margin-top: -50%;
}

.login {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background-image: url('../img/woman-in-car-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.back-menu-button {
    height: 100%;
}

.menu {
    z-index: 10;
    position: absolute;
    right: 0;
}

.home {
    position: absolute;
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.home > button {
    height: 50%;
}

.locationSelector {
    position: absolute;
    top: 4.375rem;
    bottom: 4.375rem;
    left: 0px;
    right: 0px;
}

.locationSelector > .search-bar {
    padding: 0.3125rem;
}

.locationSelector > #map-canvas {
    position: absolute;
    top: 3.625rem;
    bottom: 0px;
    left: 1px;
    right: 1px;
}

.hitchARidePrice {
    position: absolute;
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 3rem;
    padding: 10px;
}

.hitchARideSearching {
    position: absolute;
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 3rem;
    padding: 10px;
}

.rideFound {
    padding: 10px;
}

.waitDriver {
    position: absolute;
    top: 4.375rem;
    bottom: 4.375rem;
    left: 0px;
    right: 0px;
}

.waitDriver > #map-canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 1px;
    right: 1px;
}

.passengerTracker {
    position: absolute;
    top: 4.375rem;
    bottom: 4.375rem;
    left: 0px;
    right: 0px;
}

.passengerTracker > .help-bar {
    padding: 0.3125rem;
}

.passengerTracker > #map-canvas {
    position: absolute;
    top: 3.625rem;
    bottom: 0px;
    left: 1px;
    right: 1px;
}

.rateDriver {
    padding: 10px;
}

.scheduleARide {
    padding: 10px;
}

.scheduleARide > input {
    margin-bottom: 10px;
}

.scheduleARide > button {
    margin-top: 10px;
}

.datepicker {
    float: left;
}

.timepicker {
    float: right;
}


.newcss {
    color: white;
}

.home .newcss-button {
    border-color: white;
    border-width: 4px;
    height: 46%;
    position: relative;
}

.newcss-button:hover{
    background-color: #D1626D;
}

.newcss-claro {
    background-color: #EEC7CB;
}

.newcss-escuro {
    background-color: #D1626D;
}