* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width: 100%;
    height: 100%;
}

.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 250, 250, 250, 0.5 ) 
                url('../img/spinner.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .spinner {
    display: block;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
}

.login {
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.login > input {
    margin-bottom: 10px;
}

.login > button {
    margin-top: 10px;
}

.register {
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;   
}

.register > input {
    margin-bottom: 10px;
}

.register > button {
    margin-top: 10px;
}

.back-menu-button {
    height: 100%;
}

.menu {
    z-index: 10;
    position: absolute;
    right: 0;
}

.home {
    position: absolute;
    top: 4.375rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.home > button {
    height: 50%;
}

.hitchARide {
    padding: 10px;
}

.hitchARide > input {
    margin-bottom: 10px;
}

.hitchARide > button {
    margin-top: 10px;
}

.datepicker {
    max-width: 48%;
    float: left;
}

.timepicker {
    max-width: 48%;
    float: right;
}


.rideNow {
    width: 100%;
}

.rideNow > .search-bar {
    padding: 0.3125rem;
}

.rideNow > #map-canvas {
    position: absolute;
    top: 8rem;
    bottom: 3.3rem;
    left: 1px;
    right: 1px;
}

.rideNowButton {
    position: absolute;
    bottom: 1px;
}